<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Company Name</th>
                                    <th>Person Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>                                    
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                New Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Person Name</label>
                        <input type="text" [(ngModel)]="clientObj.contactPersonName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact Number</label>
                        <input type="text" [(ngModel)]="clientObj.contactNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Company Name</label>
                        <input type="text" [(ngModel)]="clientObj.companyName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Address</label>
                        <textarea [(ngModel)]="clientObj.address" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">City</label>
                        <input type="text" [(ngModel)]="clientObj.city" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">PinCode</label>
                        <input type="text" [(ngModel)]="clientObj.pincode" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">State</label>
                        <input type="text"  [(ngModel)]="clientObj.state" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Employee Strength</label>
                        <input type="text" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">gst Number</label>
                        <input type="text" [(ngModel)]="clientObj.gstNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">reg Number</label>
                        <input type="text" [(ngModel)]="clientObj.regNo" class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset Client</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success" (click)="onSaveClient">Save Client</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>