
<div class="row">

    @if (isLoader) {
        <div class="col-12 text-center">
            <div class="spinner-border text-muted"></div>
            <div class="spinner-border text-primary"></div>
            <div class="spinner-border text-success"></div>
            <div class="spinner-border text-info"></div>
            <div class="spinner-border text-warning"></div>
            <div class="spinner-border text-danger"></div>
            <div class="spinner-border text-secondary"></div>
            <div class="spinner-border text-dark"></div>
            <div class="spinner-border text-light"></div>
        </div>
    } @else {
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DesignationId</th>
                        <th>Designation</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of designationList;let srno = index">
                        <td>{{ data.designationId}}</td>
                        <td>{{ data.designation}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    }
   
   
</div>