<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success">
                Client List - {{firstName()}}
                <button class="btn btn-danger" (click)="changeFnAme()">Change F Name</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Employee Id</th>
                                    <th>Code</th>
                                    <th>Email</th>
                                    <th>Designation</th>   
                                    <th>Project Name</th>
                                    <th>Start Date</th>  
                                    <th>Expected Date</th>  
                                    <th>Client Name</th>                                                              
                            </thead>
                            <tbody>
                                @for (item of projectList(); track $index) {
                                    <tr>
                                        <td>{{item.empName}}</td>
                                        <td>{{item.empId}}</td>
                                        <td>{{item.empCode}}</td>
                                        <td>{{item.empEmailId}}</td>
                                        <td>{{item.empDesignation}}</td> 
                                        <td>{{item.projectName}}</td>
                                        <td>{{item.startDate | date:'dd-MMM-yyyy'}}</td>
                                        <td>{{item.expectedEndDate | date:'dd-MMM-yyyy'}}</td>
                                        <td>{{item.clientName}}</td>                                       
                                    </tr>
                                }                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                New Client List
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" formControlName="projectName" class="form-control">
                            @if(projectForm.controls['projectName'].touched) {
                                <div class="text-danger">
                                    @if (projectForm.controls['projectName'].errors?.['required']) {
                                        <span>This is required</span>
                                    }
                                    @if (projectForm.controls['projectName'].errors?.['minlength']) {
                                        <span>Min 4 char Required</span>
                                    }
                                </div>
                            }
                            
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" formControlName="startDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Expected end date</label>
                            <input type="date" formControlName="expectedEndDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Name</label>
                            <input type="text" formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Mobile</label>
                            <input type="text" formControlName="contactPersonContactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Email</label>
                            <input type="text" formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employee Count</label>
                            <input type="text"   formControlName="totalEmpWorking" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Costing</label>
                            <input type="text"  formControlName="projectCost" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Description</label>
                            <textarea type="text"  formControlName="projectDetails" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Select Client</label>
                            <select formControlName="clientId" class="form-control">
                                <option value="">Select Client</option>
                                @for (item of clientList; track $index) {
                                    <option [value]="item.clientId">{{item.companyName}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Lead by</label>
                            <select formControlName="leadByEmpId" class="form-control">
                                <option value="">Select Employee</option>
                                @for (item of employeeList; track $index) {
                                    <option [value]="item.empId">{{item.empName}} - {{item.empCode}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset Client</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="projectForm.invalid" (click)="onSaveProject()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>